*.o
*.lo
*.a
*.la
*.log
*.trs
*.tar.xz
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.status
config.sub
configure
depcomp
install-sh
libpcsc_cr.la
libtool
ltmain.sh
m4/
missing
stamp-h1
test-driver
test_chalresp
test_crypto
test_serial
test_auth
test_base64
pam_cr_setup
